*{
  margin: 0;
}

html{
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  max-width: 100%;
  max-height: 10%;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top:7%;
  padding-bottom:7%;
  font-family: 'Oswald', sans-serif;
  font-size: 3.5em;
  letter-spacing: .1em;
  background-repeat: no-repeat;
  background-size: cover;
}

#code{
  filter: grayscale(50%) blur(2px) contrast(80%) hue-rotate(120deg);  
}

h2{
  font-family: 'Barlow', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .06em;
  margin-left: 10%;
  margin-right:10%;
}

h3{
  font-family: 'Barlow', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: .06em;
  margin-left: 10%;
  margin-right:10%;
}

h5{
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  line-height: 2em;
  letter-spacing: .07em;
  font-weight: 100;
  margin-left: 10%;
  margin-right:10%;
}

h6{
  font-family: 'Rubik', sans-serif;
  font-size: 1.3em;
  font-style: italic;
  line-height: 1.5em;
  letter-spacing: .08em;
  font-weight: 100;
  margin-left: 10%;
  margin-right:10%;
}

p{
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: .07em;
}

.pMargin{
  margin-left: 10%;
  margin-right: 10%;
}

header{
  background-color: white;
}

nav{
  text-align: center;
}

.recli{
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: .07em;
}

ul {
  padding: 1%;
  list-style-type: none;
  overflow: hidden;
}

li {
  display: inline-flex;
  justify-content: center;
}

li a {
  color: black;
  text-decoration: none;  
  padding: 1em 2em 1em 2em;
  font-size: 1em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  letter-spacing: .08em;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out .7s;
}

li a:hover{
  color: #06ac4e;
  border-color: #06ac4e;
}
.projFrame {
  margin-left:10%;
  width: 60vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
.projects{
  margin-left:10%;
  align-self: center;
  border: 1px solid #000000;
  width: 60vw;
  height: 90vh;
}

.people{
  max-width: 60%;  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ggform{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container2{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

#arduino{
  flex-grow: 1;
  width: 20em;
}

#leds{
  margin-left: 20%;
  margin-right: 10%;
  width: 25%;
}

#text{
  flex-grow: 1;
  padding-right: 2%;
}


